
  <!-- <section class="container">
  <table class="table table-hover table-bordered ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Industry</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor='let data of array | paginate: { itemsPerPage: 8, currentPage: p }' >
          <th>{{data.id}}</th>
          <td>{{data.name}}</td>
          <td>{{data.industry}}</td>
          <td>{{data.city}}</td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Industry</th>
              <th scope="col">City</th>
            </tr>
      </tfoot>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </section>
  <!-- table -->
<!-- </body>
</html>  -->

<router-outlet></router-outlet> 